<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cantalou.skin"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"/>
    <!--
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cantalou.skin">
    </instrumentation>
    -->
    <application
        android:allowBackup="true">
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>
